/* Make purty */

#crys1 {
    background: url(../images/crys1.jpg)
}

#crys2 {
    background: url(../images/crys2.jpg)
}

#crys3 {
    background: url(../images/crys3.jpg)
}

#crys4 {
    background: url(../images/crys4.jpg)
}